<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-title">
            <h5>Client rest</h5>
        </div>
        <div class="ibox-content">
            <div class="form-group">
                <label>Parametres de route</label>
                <div class="input-group">
                    <div class="input-group-btn" ng-init="config.method  ='GET'">
                        <button type="button" class="btn">{{ config.method }}</button>
                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-click="config.method='GET'"><a>GET</a></li>
                            <li ng-click="config.method='POST'"><a>POST</a></li>
                            <li ng-click="config.method='PUT'"><a>PUT</a></li>
                            <li ng-click="config.method='DELETE'"><a>DELETE</a></li>
                        </ul>
                    </div>
                    <input type="text" class="form-control" ng-model="config.url" placeholder="URL" aria-describedby="basic-addon1">
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="sendRequst()" type="button">Envoyer</button>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label>Contenu</label>
                <div class="input-group" style="height : 300; width:100%;">
                    <div ng-model="config.data" style="height : 300px; width:100%;" ui-ace="{}"></div>
                </div>
            </div>
            <div class="form-group">
                <label>Resulat</label>
                <br>
                <h2 class="inspinia-text-primary">{{ raw.status }} <small> {{ raw.statusText }}</small> </h2>
                <uib-tabset active="0">
                    <uib-tab index="0" heading="Body">
                        <div class="input-group" style="min-height : 300px; width:100%; max-width:100%;">
                            <pre>{{ data | json }}</pre>
                        </div>
                    </uib-tab>
                    <uib-tab index="1" heading="Config">
                        <div class="input-group" style="min-height : 300px; width:100%; max-width:100%;">
                            <pre>{{ config | json }}</pre>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="Raw">
                        <div class="input-group" style="min-height : 300px; width:100%; max-width:100%;">
                            <pre>{{ raw | json }}</pre>
                        </div>
                    </uib-tab>
                </uib-tabset>

            </div>

        </div>
    </div>
</div>
